Source: strace-analyser
Section: misc
Priority: optional
Maintainer: Pavel Pushkarev <paulus@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.yandex-team.ru/admins/strace-analyser

Package: strace-analyser
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The strace analisation script
 Analyses the strace output. A debugging/profiling helper.
